@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>SAANVIK IT 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service by SAANVIK IT.</p>
</div>
